parameters:
    paths:
        - ../src
    level: 1
    tmpDir: ../tests/_output
    ignoreErrors:
        - "#Unsafe usage of new static#"
        - "#Call to static method [A-Za-z]+\\(\\) on an unknown class Phalcon\\\\Parsers\\\\Parser.#"
    reportUnmatchedIgnoredErrors: false
